/*
author: yesid
license: apache 2.0
company: clickscomputer
update: actualizaciones fecha y lo que se actualiza

CONTENT RYLES CSS
*/

@import "reset.css";
*{
  padding: 0px;
  margin: 0px;
}

body{
  width: 100%;
  height: 100vh;
  top: 0;
}

input{
  background: #f2f2f2;
}

/*diseño de login*/

.body-login{
  background-image: url(../image/loginback.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.wrap-login{
  width: 700px;
  padding: 100px;
  background: rgba(148, 101, 47, 0.66);
  height: 90.3vh;
  margin-top: 4.5%;
}

.titulo-up{
  position: relative;
  padding: 40px;
  top: -100px;
  left: 25%;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}

.email-icon{
  position: relative;
  color: #ffffff;
  top: -100px;
  left: 201px;
}

.pass-icon{
  position: relative;
  color: #ffffff;
  top: -100px;
  left: 40%;
}

.log-btn{
  position: absolute;
  width: 130px;
  height: 40px;
  text-align: center;
  left: 270px;
  font-family: 'roboto', sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  display: block;
  padding: 5px;
  top: 70vh;
  background: rgba(255, 255, 255, 1);
  color: #000000;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.log-btn:hover{
  background: rgb(89, 89, 89);
  color: white;
  transition: all 0.3s ease;
  border-radius: 8px;
  cursor: pointer;
}


/*diseño login email and pass*/

.des-co{
  position: absolute;
  color: rgba(0, 0, 0, 0.66);
  left: 253px;
  font-size: 20px;
  transition: 0.3s;
}

.des-log{
  position: absolute;
}

.des-log:valid ~ .des-co, .des-log:focus ~ .des-co{
  color: Black;
  font-size: 20px;
  transform: translateY(-30px);
  transition: 0.3s;
}

.des-log:focus, .des-co:focus {
  position: relative;
  border-bottom: 4px solid rgb(0, 156, 255);
  transition: 0.5s;
}

.des-con{
  position: absolute;
  color: rgba(0, 0, 0, 0.66);
  left: 280px;
  font-size: 20px;
  transition: 0.3s;
  bottom: 264px;
}

.des-logc{
  position: absolute;
}

.des-logc:valid ~ .des-con, .des-logc:focus ~ .des-con{
  color: Black;
  font-size: 20px;
  transform: translateY(-30px);
  transition: 0.3s;
}

.des-logc:focus, .des-con:focus {
  position: relative;
  border-bottom: 4px solid rgb(0, 156, 255);
  transition: 0.5s;
}

.log-email{
  position: relative;
  left: 16%;
  top: -1px;
  width: 300px;
  height: 35px;
  text-align: center;
  background: rgba(255, 238, 223, 1);
  border: none;
}

.log-pass{
  position: relative;
  left: 16%;
  top: -16px;
  width: 300px;
  height: 35px;
  text-align: center;
  background: rgba(255, 238, 223, 1);
  border: none;
}

.mini-foot{
  position: absolute;
  color: #ffffff;
  bottom: 60px;
  left: 13%;
}

/*menu top*/

div.menu-top{
  background: rgba(39, 40, 39, 0.21);
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 0%;
  z-index: 1000;
}

div.menu-top ul{
  width: 360px;
  position: relative;
  display: inline-flex;
  color: #ffffff;
  justify-content: space-around;
}

.menu-top .cc{
  position: relative;
  display: flex;
  color: #fff;
  font-size: 40px;
  padding-left: 10px;
  margin: 2px;
  font-family: 'Lobster', sans-serif;
}

.icon-r{
  display: none;
  visibility: hidden;
}

.menu-top .logo{
  width: 60px;
  height: 60px;
  margin-left: 5px;
}

.item{
  position: relative;
  display: inline-flex;
  font-size: 20px;
  padding: 17px 10px;
  margin: 0px 0px;
  left: 9px;
  text-transform: uppercase;
  font-weight: lighter;
  font-family: 'Oswald', sans-serif;
  transition:all .2s ease-in-out;
}

.item:hover{
  transition:all .2s ease-in-out;
  background: rgba(166, 166, 166, 0.85);
  color: #ffffff;
}

.f-re{
  margin-top: 3px;
  margin-right: 4px;
}

div.principal{
 background-image: url(../image/landing/teclado.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 height: 100vh;
 width: 100%;
 display: flex;
 align-items: center;
 text-align: center;
 -webkit-filter: brightness(20%);
 filter: brightness(40%);
}

div.background2{
 background-image: url(../image/landing/compu.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 height: 100vh;
 width: 100%;
 display: flex;
 align-items: center;
}

.titulo{
  display: inline-flex;
  font-family: 'Oswald', sans-serif;
  margin: 10px;
  padding: 42px;
}

.wrap--texto{
  width: 96%;
  height: 260px;
  position: absolute;
  left: 2%;
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 45px;
  top: 30vh;
}

.equipo{
  color: rgb(46, 194, 209);
}

.equipo:hover{
  color: rgb(46, 194, 209);
}

.btn-registrate{
  position: absolute;
  width: 250px;
  height: 46px;
  text-align: center;
  left: 40%;
  font-family: 'roboto', sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  display: block;
  padding: 10px;
  top: 70vh;
  background: transparent;
  color: #ffffff;
  box-shadow: inset 0 0 0 1px rgb(46, 194, 209);
  border-radius: 8px;
    transition: all 0.3s ease;
}

.btn-registrate:hover{
  background: rgb(46, 194, 209);
  color: white;
  transition: all 0.3s ease;
  border-radius: 8px;
}

.btn-registraem{
  position: absolute;
  width: 250px;
  height: 46px;
  text-align: center;
  left: 40%;
  font-family: 'roboto', sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  display: block;
  padding: 10px;
  top: 80vh;
  background: transparent;
  color: #ffffff;
  box-shadow: inset 0 0 0 1px rgb(46, 194, 209);
  border-radius: 8px;
    transition: all 0.3s ease;
}

.btn-registraem:hover{
  background: rgb(46, 194, 209);
  color: white;
  transition: all 0.3s ease;
  border-radius: 8px;
}

div.logo--principal{
  width: 20%;
  padding-top: 7%;
  padding-left: 2%;
}

.texto{
  padding: 15px;
  text-align: center;
  z-index: 1000;
}

/*lineas que separan la seccion*/

.slideback{
  background-image: url(../image/landing/carrusel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  height: 100%;
}

/*fullPage*/

*, *:before, *:after {
    box-sizing: content-box;
}

#fp-nav ul li a.active span,.fp-slidesNav ul li a.active span,#fp-nav ul li:hover a.active span,.fp-slidesNav ul li:hover a.active span {
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
    background: #ffffff;
  }

#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span{
    height: 20px;
    width: 20px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
}

/*carrusel*/

.wrap-gal{
  left: 618px;
  top: -200px;
}

.gal{
  padding: 0px;
  margin: 0px;
  font-size: 45px;
  font-family: 'Pacifico', cursive;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  margin-top: 1px;
  margin-left: 12px;
  margin-right: 12px;
}

.wrap-gal{
  top: 10%;
  position: absolute;
  background: rgba(0, 0, 0, 0.48);
  border: 4px solid rgb(255, 255, 255);
  border-radius: 5px;
}

#slider {
  position: absolute;
  margin: 83px;
  border-radius: 4px;
  padding: 0px;
}

#slider ul {
  position: relative;
  margin: 0px;
  padding: 0px;
  height: 800px;
  list-style: none;
}

#slider ul li {
  position: absolute;
  display: block;
  float: left;
  margin: 0px;
  padding: 0px;
  width: 1305px;
  height: 480px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
  border-radius: 10px;
  border: 5px solid rgb(0, 0, 0);
  left: 1226px;
  bottom: 340px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 35%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.4s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
  right: 1266px;
}

a.control_next {
  border-radius: 2px 0 0 2px;
  right: 64px;
}

.slider_option {
  position: relative;
  margin: 0px auto;
  width: 160px;
  font-size: 18px;
}

/*diseño registro*/

/*contenedor de formulario de empresa*/

.body-registroem{
  position: relative;
  left: 0%;
  top: 24px;
  bottom: 0%;
  background-color: rgba(181, 181, 181, 0.85);
  width: 130%;
  font-family: 'roboto', sans-serif;
  height: 90.5vh;
  color: #ffffff;
  font-size: 23px;
}

.body-regisem{
  background-image: url(../image/remback.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

/*inputs de registro empresa*/

.EmpId{
  position: relative;
  left: 20px;
  font-size: 15px;
  margin: 10px;
  width: 300px;
  border: 1px solid #DBE1EB;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}

.EmpNom{
  position: relative;
  left: 20px;
  font-size: 15px;
  margin: 10px;
  width: 300px;
  border: 1px solid #DBE1EB;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}

textarea{
  resize: none;
  background: #f2f2f2;
}

.EmpDir{
  position: relative;
  left: 8px;
  font-size: 15px;
  margin: 10px;
  width: 300px;
  border: 1px solid #DBE1EB;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}

.EmpDesc{
  position: relative;
    display: -webkit-box;
  left: 16px;
  font-size: 15px;
  margin: 10px;
  width: 494px;
  height: 62px;
  border: 1px solid #DBE1EB;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}

.EmpTel{
  position: relative;
  left: 13px;
  font-size: 15px;
  margin: 10px;
  width: 300px;
  border: 1px solid #DBE1EB;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}

.EmpCorreo{
  position: relative;
  left: 34px;
  font-size: 15px;
  margin: 10px;
  width: 300px;
  border: 1px solid #DBE1EB;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}

.EmpContra{
  position: relative;
  left: 135px;
  font-size: 15px;
  margin: 10px;
  width: 300px;
  border: 1px solid #DBE1EB;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}

.titulo-em{
  position: relative;
  top: 50px;
  font-size: 40px;
  margin-left: 150px;
  color: #ffffff;
  font-family: 'Bree serif', sans-serif;
}

.mini-fregis{
  color: rgb(255, 255, 255);
  text-align: center;
}

/*contenedor de formulario*/

.body-registro{
  position: relative;
  padding-top: 3%;
  left: 50%;
  background-color: rgba(46, 194, 209, 0.68);
  width: 50%;
  height: 90.5vh;
  top: 63px;
  font-family: 'roboto', sans-serif;
  color: #ffffff;
  font-size: 23px;
}

.wrap-formulario{
  left: 88px;
  position: relative;
  top: 50px;
}

/*input registro*/

.UsuId{
  font-size: 15px;
  margin: 10px;
  width: 300px;
  border: 1px solid #DBE1EB;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}

.UsuNombre{
  font-size: 15px;
  margin: 10px;
  width: 300px;
  left: 140px;
  position: relative;
  border: 1px solid #DBE1EB;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}

.UsuApellido{
  font-size: 15px;
  margin: 10px;
  width: 300px;
  left: 140px;
  position: relative;
  border: 1px solid #DBE1EB;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}

.UsuTelefono{
  font-size: 15px;
  margin: 10px;
  width: 300px;
  left: 160px;
  position: relative;
  border: 1px solid #DBE1EB;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}

.UsuCorreo{
  font-size: 15px;
  margin: 10px;
  width: 300px;
  left: 60px;
  position: relative;
  border: 1px solid #DBE1EB;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}

.UsuNacimiento{
  font-size: 15px;
  margin: 10px;
  width: 300px;
  left: 33px;
  position: relative;
  border: 1px solid #DBE1EB;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}

.UsuContra{
  font-size: 15px;
  margin: 10px;
  width: 300px;
  left: 131px;
  position: relative;
  border: 1px solid #DBE1EB;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}


.body-register{
  background-image: url(../image/woman.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.registro-titulo{
  font-size: 40px;
  left: 22%;
  color: #ffffff;
  position: relative;
  font-family: 'Bree serif', sans-serif;
  display: inline-table;
}

/*botones de formulario*/

.boton-registro{
  position: relative;
  font-family: 'Roboto', sans-serif;
  padding: 5px;
  left: 43%;
  top: 10px;
  cursor: pointer;
  border-radius: 10px 10px;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  display: block;
  background: #ffffff;
  border: 1px solid white;
  color: black;
  width: 200px;
  transition: all 1s ease;
}

.boton-registro:hover{
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.68);
    font-size: 15px;
    border-radius: 10px;
    color: #fff;
    transition: all 1s ease;
}

.btn-mid{
  position: absolute;
  color: #ffffff;
  font-size: 18px;
  bottom: 36px;
  left: 262px;
  font-family: 'Oswald', sans-serif;
}

.wrap-btn{
  margin: 0px;
  padding: 0px;
  top: 0px;
}

.titulo-sesion{
  position: relative;
  top: 40px;
  font-family: 'Oswald', sans-serif;
  font-size: 27px;
  text-align: center;
  color: #ffffff;
}

.btn-inicio{
  position: relative;
  margin: 70px;
  left: 150px;
  padding: 10px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 20px;
  border-radius: 4px;
}

.btn-inicio:hover{
  background: rgb(152, 202, 255);
  border-radius: 10px;
  transition: all 1s ease;
  cursor: pointer;
}

.user-icon{
  position: relative;
  color: #ffffff;
  margin: 20px;
  left: 230px;
}

.foot-titulo{
  position: relative;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: rgb(23, 23, 23);
  top: 64px;
}

.fin{
    width: 100%;
    height: 100vh;
}

.numps{
  position: relative;
  font-family: 'Archivo Black', sans-serif;
  color: #ff4747;
  left: 24%;
  top: 60px;
  font-size: 50px;
}

.numpa{
  position: relative;
  font-family: 'Archivo Black', sans-serif;
  color: #ff4747;
  left: 26%;
  top: 60px;
  font-size: 50px;
}

.nump{
  position: relative;
  font-family: 'Archivo Black', sans-serif;
  color: #ff4747;
  left: 16%;
  top: 60px;
  font-size: 50px;
}


.paso{
  position: relative;
  font-size: 33px;
  font-family: 'roboto', sans-serif;
  top: -8px;
  text-align: center;
}

/*footer*/

.footer-final{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: normal 18px sans-serif;
  padding: 6px;
  margin-top: 80px;
  z-index: 1000;
  position: absolute;
  bottom: 0px;
  height: 110px;
}

.footer-final .footer-links {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 11px 0 23px;
    margin: 0;
}

.footer-final .footer-c{
  color:  #8d9093;
  font-size: 24px;
  margin: 0;
}

.footer-final .footer-cname{
  color:  #8f9296;
  font-size: 14px;
  margin: 0px;
}

.footer-final .footer-links{
  list-style: none;
  font-weight: bold;
  color:  #ffffff;
  padding: 10px 0 23px;
  margin: 0;
}

.footer-basic-centered .footer-links a{
  display:inline-block;
  text-decoration: none;
  color: inherit;
}

.f-fa, .f-tw, .f-ins{
  margin-right: 8px;
}

.f-fa{
  margin-left: 5px;
}

.f-fa:hover{
  color: rgb(88, 159, 252);
}

.f-tw:hover{
  color: rgb(102, 241, 255);
}

.f-ins:hover{
  color: rgb(255, 113, 237);
}

/*dashboard*/

.item-dash{
  position: relative;
  display: inline-table;
  right: -2%;
  font-size: 20px;
  padding: 20px 10px;
  text-transform: uppercase;
  font-weight: lighter;
  font-family: 'Oswald', sans-serif;
  transition:all .2s ease-in-out;
}

.item-dash:hover{
  transition:all .2s ease-in-out;
  background: rgba(166, 166, 166, 0.85);
  color: #ffffff;
}

.body-dash{
  background-image: url(../image/dashback.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
}

.EnterpriseProfile{
  position: absolute;
  background: rgba(193, 131, 81, 0.69);
  left: 0%;
  width: 320px;
  top: 69px;
  height: 89.6vh;
}

.img-enterprise{
  width: 200px;
  padding: 20px 15px;
  text-align: center;
  border-radius: 180px;
  margin: 10px 60px;
}

.enterprise-name{
  color: #ffffff;
}

.enterprise-name{
  text-align: center;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  justify-content: flex-start;
  padding-bottom: 25px;
}

.wrap-nav{
  position: relative;
  padding: 20px;
  background: rgba(145, 145, 145, 0.81);
  width: 70%;
  height: 80vh;
  left: 28%;
  top: 16%;
  border-radius: 15px;
}

.nav-titulo{
  color: #ffffff;
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.nav-btns{
  text-align: -webkit-right;
  top: -10%;
  position: relative;
}

.gest-pc{
  color: rgb(0, 0, 0);
  font-size: 23px;
  background: #ffd8b9;
  padding: 10px 8px;
  border-radius: 4px;
  font-family: 'Oswald',sans-serif;
  transition:all .2s ease-in-out;
  text-transform: uppercase;
}

.gest-pc:hover{
  transition:all .2s ease-in-out;
  background: rgba(254, 217, 145, 0.79);
  color: #ffffff;
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
}

.marca-int{
  font-size: 18px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  color: #2E3133;
  text-align: center;
  border: 1px solid black;
}

.wrap-marca-int{
  top: 20%;
  left: 36%;
  display: flex;
  position: relative;
  margin: 10px 0px;
}

.btn-marca-int{
  top: 70%;
  left: 2%;
  position: relative;
  width: 250px;
  height: 46px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  display: block;
  padding: 7px;
  background: rgb(255, 202, 122);
  color: #4e4e4e;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.btn-marca-int:hover{
  transition: all 0.3s ease;
  cursor: pointer;
  color: rgb(0, 0, 0);
  background: rgb(204, 204, 204);
}

.marca-pinfo{
  font-size: 30px;
  color: white;
  font-family: 'Oswald', sans-serif;
  position: relative;
  top: 50%;
  left: 11%;
}

/* data grid estilo*/

table.dataTable tbody th, table.dataTable tbody td {
    padding: 10px 100px;
  }

table.dataTable th.dt-center, table.dataTable td.dt-center, table.dataTable td.dataTables_empty {
    text-align: center;
    background: rgb(236, 236, 236);
    font-family: 'roboto', sans-serif;
    font-size: 18px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}

table.dataTable thead .sorting {
    background-image: url(../images/sort_both.png);
    color: rgb(255, 255, 255);
    font-family: 'roboto', sans-serif;
}

table.dataTable thead .sorting_asc {
    background-image: url(../images/sort_asc.png);
    color: rgb(255, 255, 255);
    font-family: 'roboto', sans-serif;
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    background: rgb(236, 236, 236);
    font-family: 'roboto', sans-serif;
    font-size: 18px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}

label{
  color: white;
  font-family: 'Roboto', sans-serif;
}

select{
  border: 1px solid Black;
}

.dataTables_wrapper .dataTables_info{
  color: rgb(0, 0, 0);
}

.paginate_button.disabled{
  color: rgb(255, 255, 255);
  background: rgb(22, 22, 22);
  border-radius: 5px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
 .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
 .dataTables_wrapper .dataTables_paginate .paginate_button.disabled{
  cursor: default;
  border: 1px solid transparent;
  box-shadow: none;
  background: rgb(22, 22, 22);
  border-radius: 5px;
  color: #ffffff !important;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current{
  background: rgb(205, 205, 205);
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current{
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}

/*ventana modal*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.65);
    transition:all .2s ease-in-out;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
}

.close {
    color: #acacac;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition:all .2s ease-in-out;
}

.close:hover,.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition:all .2s ease-in-out;
}

.model-textp{
  text-align: center;
  font-size: 25px;
  font-family: 'Oswald'
}

.btn-dash{
    width: 180px;
    height: 46px;
    text-align: center;
    font-family: 'roboto', sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    display: inline-block;
    padding: 10px;
    background: rgb(0, 0, 0);
    color: #ffffff;
    border-radius: 8px;
    transition: all 0.3s ease;
    left: 31%;
    position: relative;

}

.btn-dash:hover{
  background: rgb(148, 148, 148);
  color: white;
  transition: all 0.3s ease;
  border-radius: 8px;
}

/*diseño de gestiones en perfil*/

.gest{
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-family: 'roboto', sans-serif;
  margin: 5px 70px;
  padding: 10px 0px;
  display: inline-block;
}

.gest:hover{
  border: 3px solid transparent;
  padding: 10px 5px;
  font-size: 16px;
  line-height: 1.27;
  border-radius: 6px;
  transition: all .16s ease-in-out;
  outline: none;
  cursor: pointer;
  background-color: rgba(89, 89, 89, 1);
  border-left: 3px solid #ffffff;
  box-shadow: 0 4px 9px 6px rgba(0,0,0,0.2);
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/*registrar pc nuevo*/

.titulo-newpc{
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
}

.cpc{
  color: #ffffff;
  font-size: 20px;
  font-family: 'roboto', sans-serif;
  padding: 0px 60px;
}

.wrap-pcnew{
  position: relative;
  top: 2%;
}

.btn-cpc{
  left: 85%;
  position: relative;
  color: rgb(0, 0, 0);
  font-size: 23px;
  background: #ffd8b9;
  padding: 8px 8px;
  border-radius: 4px;
  font-family: 'Oswald',sans-serif;
  transition: all .2s ease-in-out;
  text-transform: uppercase;
}

.btn-cpc:hover{
  transition:all .2s ease-in-out;
  background: rgba(231, 196, 129, 0.79);
  color: #ffffff;
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
}

.in-cpc{
  position: relative;
  margin: 7px 0px;
  align-items: center;
}

.in-cpcod{
  position: relative;
  left: 20px;
  font-size: 15px;
  margin: 10px;
  width: 400px;
  border: 1px solid #DBE1EB;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}

.in-cpcname{
  position: relative;
  left: 13px;
  font-size: 15px;
  margin: 10px;
  width: 400px;
  border: 1px solid #DBE1EB;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}

.in-cpcarea{
  position: relative;
  left: -20px;
  font-size: 15px;
  margin: 10px;
  width: 400px;
  border: 1px solid #DBE1EB;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}

.desc{
  position: relative;
  top: -24px;
}

.in-cpcmodel{
  position: relative;
  left: 19px;
  font-size: 15px;
  margin: 10px;
  width: 400px;
  border: 1px solid #DBE1EB;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}

.in-cpctipo{
  position: relative;
  left: 52px;
  font-size: 15px;
  margin: 10px;
  width: 400px;
  border: 1px solid #DBE1EB;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}

.in-cpcmarca{
  position: relative;
  font-size: 15px;
  left: 30px;
  margin: 10px;
  width: 400px;
  border: 1px solid #DBE1EB;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}

.in-cpcprecio{
  position: relative;
  left: 30px;
  font-size: 15px;
  margin: 10px;
  width: 400px;
  border: 1px solid #DBE1EB;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: 'Seleccione algun archivo.';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

.custom-file-input:hover::before {
  border-color: black;
}

.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
