/*
author: yesid
license: apache 2.0
company: clickscomputer
update: actualizaciones fecha y lo que se actualiza

CONTENT RYLES CSS
*/

@import "reset.css";
*{
  padding: 0px;
  margin: 0px;
}
body{
  width: 100%;
  top: 0;
}
input{
  background: #f2f2f2;
}
.body-manual{
  background: rgb(230, 230, 230);
  padding-left: 360px;
  padding-top: 10px;
  }
/* menu hamburguesa */
.menu-burguer{
  background: rgb(0, 0, 0);
  width: 330px;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 0px;
}
.titu-Manualusu{
  font-family: 'oswald', sans-serif;
  font-size: 30px;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
  margin: 20px;
  text-align: center;
}
.book-manual{
  margin-right: 10px;
}
.punto-manual{
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: 'roboto',sans-serif;
  margin-top: 0px;
  transition: 0.3s;
  padding: 10px 15px;
}
.punto-manual:hover{
  color: black;
  background: rgb(227, 227, 227);
  cursor: pointer;
  width: 100%;
  transition: 0.3s;
  border-left: 5px solid rgb(255, 0, 0);
}
.sub-punto{
  color: rgb(255, 255, 255);
  font-size: 12px;
  transition: 0.3s;
  margin-top: 13px;
  padding: 5px 20px;
}
.sub-punto:hover{
  color: black;
  background: rgb(227, 227, 227);
  cursor: pointer;
  width: 100%;
  transition: 0.3s;
  border-left: 5px solid rgb(255, 0, 0);
}
/* Manual */
.boton-regresodem{
  position: fixed;
  right: 10px;
  bottom: 8px;
  width: 70px;
  border-radius: 50%;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: 'oswald',sans-serif;
  font-size: 17px;
  transition: 0.4s;
  outline: none;
  padding: 22px 7px;
}
.boton-regresodem:hover{
  cursor: pointer;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transition: 0.4s;
  border: 1px solid rgb(0, 0, 0);
}
/* contenido del manual */
.contenedor-punto{
  background: rgb(251, 251, 251);
  padding: 10px 10px;
  margin: 25px 0px;
  width: 900px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
}
.titulo-manual-pri{
  font-family: 'oswald', sans-serif;
  margin: 0px;
}
.parrafo-manual{
  font-family: 'roboto',sans-serif;
  font-size: 16px;
}
