/*
author: yesid
company: clickscomputer
update: actualizaciones fecha y lo que se actualiza

CONTENT RYLES MEDIA CSS
*/
@media (max-width: 800px){
  body {
    overflow-x: hidden;
}
  /*MENU TOP*/
  br{
    display: none;
  }
  .item{
    display: none;
  }
.responsive-me{
  display: block;
  position: absolute;
  z-index: 1000000;
}
header nav{
  width: 80%;
  height: 100%;
  margin: 1px 0px;
  position: fixed;
  background: rgb(42, 42, 42);
  padding-top: 30px;
}
header nav ul li{
  display: block;
  float: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  margin: 35px 15px;
  font-size: 21px;
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
}
.menu_bar{
  display: block;
  color: rgb(255, 255, 255);
  width: 100%;
}

  /*landing*/
  .menu-top .logo{
    display: none;
    visibility: hidden;
  }
  .icon-r{
    display: none;
    visibility: visible;
    margin: 11px 0px;
    font-size: 30px;
  }
  .cc-letra{
    margin: 0px 50px;
  }
  /* contenido landing */
  .wrap--texto{
    height: 100vh;
    margin-top: -15%;
    position:absolute;
  }
 .texto{
    padding: 0px;
    font-size: 25px;
  }
  .right{
    display:none;
  }
  .btn-registrate {
    padding-right: 10px;
    left: 60px;
}
  .btn-registraem{
    padding-right: 10px;
    left: 60px;
  }
  /*registro*/
  .body-registro{
    margin-left: -50%;
    width: 100%;
    padding: 0px;
  }
  .wrap-formulario {
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
  .registro-titulo{
    font-size: 30px;
    left: 8%;
    top: 18px;
    text-align: center;
    color: #ffffff;
    position: relative;
    font-family: 'Bree serif', sans-serif;
    display: inline-table;
  }
  .UsuId{
    font-size: 15px;
    margin: 0px 68px;
    width: 200px;
    left: 0px;
    position: relative;
    border: 1px solid #DBE1EB;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
  }
  .UsuNombre{
    font-size: 15px;
    margin: 0px 68px;
    width: 200px;
    left: 0px;
    position: relative;
    border: 1px solid #DBE1EB;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
  }
  .UsuApellido{
    font-size: 15px;
    margin: 0px 68px;
    width: 200px;
    left: 0px;
    position: relative;
    border: 1px solid #DBE1EB;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
  }
  .UsuTelefono{
    font-size: 15px;
    margin: 0px 68px;
    width: 200px;
    left: 0px;
    position: relative;
    border: 1px solid #DBE1EB;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
  }
  .UsuCorreo {
    font-size: 15px;
    margin: 0px 68px;
    width: 200px;
    left: 0px;
    position: relative;
    border: 1px solid #DBE1EB;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}
  .UsuContra{
    font-size: 15px;
    margin: 0px 68px;
    width: 200px;
    left: 0px;
    position: relative;
    border: 1px solid #DBE1EB;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
  }
  .UsuNacimiento {
    font-size: 15px;
    margin: 0px 68px;
    width: 200px;
    left: 0px;
    position: relative;
    border: 1px solid #DBE1EB;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}
  .boton-registro{
    position: relative;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    top: 0px;
    cursor: pointer;
    border-radius: 10px 10px;
    text-align: center;
    font-size: 23px;
    text-transform: uppercase;
    background: #000000;
    color: white;
    width: 340px;
    left: 28px;
  }
  label {
    font-size: 20px;
    text-align: center;
    left: 76px;
    position: relative;
}
input{
  display: block;
  margin: 0px 0px;
}
.img-fot{
  position: relative;
    width: 150px;
    height: 200px;
    left: 108px;
    top: -150px;
}
.ti-con{
  height: 150px;
  position: relative;
  top: 0px;
  left: -129px;
  background: none;
  color: rgb(0, 0, 0);
}
.title-tien{
  font-size: 24px;
  text-align: center;
  font-family: 'roboto',sans-serif;
}
.tien-parra{
  font-size: 15px;
  text-align: left;
  font-family: 'roboto',sans-serif;
  width: 330px;
  margin: 10px 0px;
}
.footer-final .footer-links{
  list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 10px 0 23px;
    margin: -10px;
}
.footer-final{
  background-color: #292c2f;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: normal 18px sans-serif;
  padding: 30px;
  margin-top: 72px;
  z-index: 1000;
  position: absolute;
  bottom: 0px;
  height: 146px;
}
/* registro usuario cliente */
/* ventana modal de informacion */
.body-register{
  width: 100%;
  background-image: none;
  background-repeat: none;
  background-size: none;
  background-position: none;
}
.modalregis{
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(34, 34, 34, 0.77);
  top: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  animation: modal 1s 2.13s forwards;
  visibility: hidden;
  opacity: 0;
}
.contenido-resg {
    margin: 8% 6%;
    width: 320px;
    height: 90%;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    font-family: 'roboto', sans-serif;
    padding: 60px 22px;
}
#cerrarres + label {
    position: fixed;
    color: #ffffff;
    font-size: 25px;
    z-index: 100000;
    background: rgb(168, 168, 168);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    top: 50px;
    left: 280px;
    transition: 0.3s;
    animation: modal 1s 3s forwards;
    visibility: hidden;
    opacity: 0;
}
.mod-regis{
  font-size: 22px;
}
.mod-regis-p{
  font-size: 16px;
}
.body-registro {
    background-color: rgba(128, 150, 159, 1);
    width: 100%;
    height: 100vh;
    font-family: 'roboto', sans-serif;
    color: #ffffff;
    font-size: 18px;
}
/* formulario registro */
form[id="validate"] {
    position: relative;
    top: 40px;
    left: -100px;
    width: 400px;
    height: 516px;
}
.label-registrousuario{
  bottom: 524px;
  position: relative;
}
.input-registrousuario {
    position: relative;
    z-index: 1000;
}
.inputs-reg{
  left: 0px;
  padding: 0px 8px;
  margin: 30px 36px;
  width: 314px;
  height: 32px;
  position: relative;
  border: 1px solid #DBE1EB;
  border-radius: 1px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  outline: none;
  z-index: 1000;
}
.labels-reg{
  display: flex;
  padding: 20px 0px;
  position: relative;
  left: 32px;
  top: 0px;
  font-size: 15px;
}
/* registro de empresa */
.body-regisem{
  background-color: rgba(128, 150, 159, 1);
  background-image: none;
}
.titulo-em {
  left: 7%;
}
.body-registroem{
  top: -9px;
  height: 100%;
}
.wrap-labels-regem{
  right: 40px;
}
.labels-regem{
  margin-bottom: 40px;
  font-size: 18px;
}
.wrap-input-regem {
    position: relative;
    left: -80px;
    bottom: 460px;
    padding: 0px 85px;
}
.input-regem {
    margin: 23px 10px;
}
.migadepan2{
  display: none;
}
.inicio-sesionregis{
  height: 100%;
}
label[for="EmpNom"]{
  position: relative;
  top: 3px;
}
label[for="EmpDir"]{
  position: relative;
  top: -8px;
}
label[for="EmpTel"]{
  position: relative;
  top: 34px;
}
label[for="EmpCorreo"]{
  position: relative;
  top: 20px;
}
label[for="EmpContra"]{
  position: relative;
  top: 0px;
}
.boton-registroem{
  position: relative;
  top: -7px;
  left: 40px;
  margin: 0px;
  font-size: 18px;
  width: 270px;
}
/* inicio de sesion */
.body-login{
  background-image: none;
  background-repeat: none;
  background-size: none;
  background-position: none;
}
.titulo-up {
    position: relative;
    padding: 5px;
    left: 106px;
    top: 90px;
}
.email-icon{
  position: relative;
  top: 120px;
  left: 148px;
}
.des-co {
    position: relative;
    text-align: center;
    transition: 0.3s;
    top: 134px;
    left: 108px;
    font-size: 19px;
}
.log-email, .log-pass {
    position: relative;
    left: 36px;
    top: 207px;
    width: 300px;
    height: 35px;
    text-align: center;
    transition: 0.3s;
    outline: none;
}
.log-btnp, .log-btn{
    position: relative;
    width: 130px;
    height: 40px;
    text-align: center;
    right: -114px;
    font-size: 17px;
    top: 220px;
    transition: all 0.3s ease;
    outline: none;
}
.mini-foot{
  bottom: 20px;
  position: absolute;
  padding: 0px 25px;
}
.des-con{
  font-size: 19px;
  top: 138px;
  position: relative;
  left: 130px;
}
/*dashboard*/
a[href="sobre"]{
  display: none;
}
.item-dash {
    position: relative;
    right: 15%;
    font-size: 15px;
    top: 20px;
    padding: 0px;
}
.EnterpriseProfile{
  display: none;
}
.wrap-nav{
  position: relative;
  top: 30px;
  padding: 20px;
  background-color: none;
  width: 1125px;
  height: 550px;
  left: 0px;
}
.contenedornit{
  display: -webkit-inline-box;
}
/* dashboard */
.dataTables_wrapper{
  display: none;
}
.modalregis2{
  display: flex;
}
/* gestor perfil */
.nav-titulo{
  font-size: 24px;
  right: 376px;
  position: relative;
}
.migadepan{
  display: none;
}



}
