RewriteEngine on

#Landing page
RewriteRule ^main$ index.php?c=views&a=Main

#Registro
RewriteRule ^Registro$ index.php?c=registeruser&a=viewsRegister
RewriteRule ^Registrado$ index.php?c=registeruser&a=Register

#Registro_Empresa
RewriteRule ^Registro-Empresa$ index.php?c=registerenterprise&a=viewsRegisterEnterprise
RewriteRule ^Registrado-emp$ index.php?c=registerenterprise&a=RegisterEnterprise

#Login
RewriteRule ^Email$ index.php?c=login&a=viewsEmail
RewriteRule ^Pass$ index.php?c=login&a=viewsPassword
RewriteRule ^Consulta$ index.php?c=login&a=ConsultEmail
RewriteRule ^ConsultaP$ index.php?c=login&a=ConsultPassword

#Pc
RewriteRule ^Registrar-Computador$ index.php?c=pc&a=ViewsSavePc
RewriteRule ^Registro-Completado$ index.php?c=pc&a=SaveNewPc

#Shop
RewriteRule ^MyDashboard$ index.php?c=shop&a=shopDashboard
#Shop
RewriteRule ^CerrarSesion$ index.php?c=shop&a=SessionOff

#Marcas
RewriteRule ^GestionMarcas$ index.php?c=marca&a=ViewMarca
RewriteRule ^NuevaMarca$ index.php?c=marca&a=ViewNewMarca
RewriteRule ^ActualizarMarcas$ index.php?c=marca&a=ViewUpdateMarca
RewriteRule ^CrearMarca$ index.php?c=marca&a=CreateMarca
