RewriteEngine on

#Landing page
RewriteRule ^main$ index.php?c=views&a=Main

#Registro
RewriteRule ^Registro$ index.php?c=registeruser&a=viewsRegister
RewriteRule ^Registrado$ index.php?c=registeruser&a=Register

#Registro_Empresa
RewriteRule ^Registro-Empresa$ index.php?c=registerenterprise&a=viewsRegisterEnterprise
RewriteRule ^Registrado-emp$ index.php?c=registerenterprise&a=RegisterEnterprise

#Login
RewriteRule ^Email$ index.php?c=login&a=viewsEmail
RewriteRule ^Pass$ index.php?c=login&a=viewsPassword
RewriteRule ^Consulta$ index.php?c=login&a=ConsultEmail
RewriteRule ^ConsultaP$ index.php?c=login&a=ConsultPassword


#Pc
RewriteRule ^Registrar-Computador$ index.php?c=pc&a=ViewsSavePc
